.chromed-timepicker {
  position: relative;
  * { user-select: none; }

  .contenedor-input {
    position: relative;
    display: inline-block;

    .time-input {
      font-size: 13px;
      letter-spacing: 0.5px;
      padding: 2.5px;
      font-family: monospace;
      width: 65px;

      ~ .clock-btn {
        position: absolute;
        right: 6px;
        top: 4px;

        display: inline-block;
        width: 12px;
      }
      
      &[disabled] ~ .clock-btn {
        display: none;
      }
    }

    //
    // Estilos de cursor
    //
    &.cursor-style-original .time-input {
      cursor: default;
    }
    &.cursor-style-alternative .clock-btn {
      cursor: pointer;
    }
  }

  .options-containers {
    z-index: 1000;
    background-color: #fff;
    left: 0px;
    position: absolute;
    border: 1px solid #bfbfbf;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    width: 116px;
    box-sizing: border-box;
    
    &.show-on-top {
      bottom: calc(100% + 3px); // HC Esos 3px hay que resolverlos de mejor forma!!!
    }

    .options-container {
      display: inline-block;
      width: 56px;
      overflow: hidden;

      .list-container {
        width: calc(56px + 16px);
        overflow: auto;
        padding: 3px;
        padding-right: 20px;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          width: 52px;

          li.numero {
            color: #333;
            background-color: #fff;
            border: 2px solid #fff;
            font-family: sans-serif;
            font-size: 14px;
            height: 36px;
            border-radius: 2px;
            box-sizing: border-box;

            display: block;
            cursor: pointer;
            text-align: center;
            padding-top: 8px;
            
            &.selected {
              font-weight: bold;
              color: #fff;
              background-color: #0075ff;
              border-color: #0075ff;
            }

            &:not(.selected):hover {
              background-color: #b2d5ff;
              border-color: #b2d5ff;
            }
          }
        }
      }

      &.active-container ul li.numero.selected {
        border-color: #101010;
      }
    }
  }

  // En desuso todavía
  // .clon {
  //   position: absolute;
  //   top: 2px;
  //   left: 2px;
  //   color: #fff;
  //   background: rgba(0, 0, 0, 0.02);
  //   width: 100px;
  // }
}
